#-------------------------
# OS/개발툴 기본 무시 파일
#-------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.directory
.Trash-*

#-------------------------
# PHP 관련 무시 파일
#-------------------------

# 환경 설정 파일 (보안)
.env

# Composer 의존성 폴더
/vendor/

# PHP 에러 로그
php_errors.log

#-------------------------
# CodeIgniter4 디렉터리
#-------------------------

# 임시 폴더 (캐시/로그/세션/업로드)
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

#-------------------------
# IDE 설정 파일
#-------------------------

# VSCode
.vscode/

# JetBrains (PHPStorm 등)
.idea/
*.iml

# 기타 개발 툴
nbproject/
build/
dist/
*.sublime-workspace
*.sublime-project
.phpintel

#-------------------------
# 테스트 결과 무시
#-------------------------
tests/coverage*
phpunit
phpunit*.xml
results/
